---
---

@import "{{ site.theme }}";

#view-on-nuget span {
  background: transparent url(https://avatars1.githubusercontent.com/u/968310?s=23) 12px 50% no-repeat
}

dl {
  margin: -1em 0 25px 25px;
}
dd {
  margin: -1.65em 0 0 14em;
  line-height: 1.7em;
}